.bio-body {
  padding: 2rem;
}

.bio-header {
  padding-left: 2rem;
}

.bio-image {
  height: 200px;
  width: auto;
  margin: 1rem;
  border-radius: .3rem;
}

.bio-image-container {
  justify-content: end;
  display: flex;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

