.bio-container {
  padding: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.bio-body {
  padding: 1rem;
  width: 80%;
}

.bio-header {
  padding-left: 2rem;
}

.bio-image {
  height: 200px;
  width: auto;
  padding: 1rem;
  border-radius: .3rem;
}

.bio-image-container {
  justify-content: center;
  display: flex;
}


@media screen and (max-width: 775px) {
  .bio-container {
    display: flex;
    flex-direction: column-reverse;
  }

  .bio-body {
    padding: .5rem;
    width: 100%;
  }
}

