.class-name {
  margin-bottom: 5rem;
}
.thumbnail-image {
  height: 200px;
  width: auto;
  margin: 1rem;
  border-radius: .3rem;
}

.portfolio-image-container {
  align-items: center;
  margin-right: 1rem;
  margin-left: 1rem;
  margin-top: 1rem;
  margin-bottom: 3rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap
}
