.name {
  width: 50%;
}

.image {
  display: flex;
  justify-content: space-between;
}

.role {
  display: flex;
}

.about {
  min-height: 30rem; 
  max-height: 80rem; 
  max-width: 30rem;
}

.profile {
  z-index: 2;
  opacity: 1;
}

.cv {
  z-index: 2;
  min-height: 30rem; 
  max-height: 300rem; 
  max-width: 50rem;
}

.cv-body {
  display: flex;

}

.cv-item {
  padding: 1rem;
  z-index: 3;
}

.item {
  justify-content: space-around;
}

.pdf {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pdf-icon {
  color: white;
  z-index: 3;
}

.title {
  display: flex;
  
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
