
.cv {
  z-index: 2;
}

.cv-item {
  padding: 1rem;
  z-index: 3;
  display: flex;
}

.cv-header {
padding-left: 2rem;
}

.item {
  display: flex;
  padding-right: .5rem;
}

.info {
  padding-left: 3rem;
}

.university {
  font-weight: bold;
}

.honors{
  padding-left: .5rem;
}

.role {
  font-weight: bold;
  padding-right: .5rem;
}

.institution-info {
  padding-bottom: .5rem;
}

.institution-container {
  display: flex;
  flex-flow: row wrap;
}

.exhibition-info {
  padding-bottom: .5rem;
}

.exhibition-container {
  display: flex;
  flex-flow: row wrap;
}

.gallery {
  padding-right: .5rem;
}

.pdf {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pdf-icon {
  color: white;
  z-index: 3;
}

.title {
  font-weight: bold;
  padding-right: .5rem;
}

.institution {
  padding-right: .5rem;
}

@media screen and (max-width: 600px) {
  .institution-info {
    padding-left: 1rem;
  }

  .institution-container {
    display: flex;
    flex-flow: column wrap;
  }

  .exhibition-container {
    display: flex;
    flex-flow: column wrap;
  }

  .university {
    padding-left: .5rem;
  }

  .role {
    padding-left: .5rem;
  }

  .institution {
    padding-left: .5rem;
  }

  .item {
    padding-left: 1rem;
  }
}

