
.home-container {
  margin-bottom: 3rem;
  width: 100%;
  min-height: 10rem; 
  max-height: 100rem; 
  background-size: 100%; 
  /* box-sizing: border-box; */
  position: fixed;
  z-index: 0;
  opacity: 0.9;
}

.home-image-container {
  width: 70%;
  margin-right: 1rem;
  margin-left: 1rem;
  margin-top: 0rem;
  margin-bottom: 5rem;
  display: flex;
  justify-content: space-between;
}

.home-image {
  width: auto;
  height: 90%;
  min-height: 10rem; 
  max-height: 100rem; 
  background-size: 50%; 
  box-sizing: border-box;
  position: fixed;
  z-index: 0;
  opacity: 0.8;
  padding: 1rem;
  border-radius: 2rem;
}

.small-home-image {
  width: auto;
  height: 50%;
  min-height: 10rem; 
  max-height: 100rem; 
  background-size: 50%; 
  box-sizing: border-box;
  position: fixed;
  z-index: 0;
  opacity: 0.8;
  padding: 1rem;
  border-radius: 2rem;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

