
.heading {
  color: rgb(36, 35, 35);
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: sticky;
  top: 0;
  background-color: white;
}

.nav-container {
  display: flex;
  flex-direction: row;
}



/* .project-container {
  min-height: 30rem; 
  max-height: 100rem; 
  max-width: 70rem;
} */

/* .projects {
  opacity: 1;
  color: white;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  z-index: 2;
}

.project-item {
  opacity: 1;
  z-index: 3;
  margin: 1rem;
  padding: 1rem;
  max-width: 20rem;
}

.item-img {
  max-width: 100%;
  height: auto;
}

.description {
  margin-bottom: 0;
}

a {
  color: white;
}

a:hover { 
  color: #1f911f; 
  text-decoration: none;
} 

.contact {
  min-height: 20rem; 
  max-height: 80rem; 
  max-width: 35rem;
}

.contact-item {
  margin-left: 2rem;
}

.github {
  display: flex;
  justify-content: flex-end;
}

.footer {
  display: flex;
  background-color: white;
  z-index: 3;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  min-width: 100%;
  height: 3rem;
  margin: 0;
  padding: 0;
}

.social-links {
  justify-content: center;
  padding: 0.4rem;
}

.social {
  margin: 0;
  padding: 0;
}

.icon {
  color: rgb(54, 53, 53);
}  */


