.profligacy-header{
  margin-left: 2rem;
}

.profligacy-image {
  height: 400px;
  width: auto;
  margin: 1rem;
  border-radius: .2rem;
}

.profligacy-model-image {
  height: 800px;
  width: auto;
  margin: .2rem;
  border-radius: .2rem;
}

.profligacy-image-container {
  align-items: center;
  margin-right: 1rem;
  margin-left: 1rem;
  margin-top: 1rem;
  margin-bottom: 3rem;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap
}

@media screen and (max-width: 575px) {

  .profligacy-model-image {
    height: 300px;
    width: auto;
    margin: .2rem;
    border-radius: .2rem;
  }
}
